@import "src/styles/color/scss/scss";

.boxBorder {
  border: $BORDER;
  border-radius: $RADIUS;
}
.boxVali {
  color: $colorReq;
  border: $BORDER_LINK;
  border-radius: $RADIUS;
  padding: 7px 12px;
  display: inline-block;
}
@media screen and (max-width: 415px) {
  .boxVali{
    width: 100%;
    text-align: center;
    margin-top: 15px;
  }
}
