@import "color/scss/scss";
html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  background-color: $light;
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/iransans/eot/IRANSansWeb.eot");
  src: url("/fonts/iransans/eot/IRANSansWeb.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/iransans/woff2/IRANSansWeb.woff2") format("woff2"),
    url("/fonts/iransans/woff/IRANSansWeb.woff") format("woff"),
    url("/fonts/iransans/ttf/IRANSansWeb.ttf") format("truetype");
}
* {
  direction: rtl;
  box-sizing: border-box;
  font-family: "IRANSans", -apple-system, BlinkMacSystemFont, Segoe UI,
    PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
a {
  text-decoration: none;
  box-sizing: border-box;
}
.link {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.svg {
  width: 100%;
  height: 100%;
}
.boxFormLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 60px);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}