$light: #fff;
$black: #000;
$textLight: #a1b5c1;
$dark: #535a60;
$baseDark: #3a3e42;
$textDark: #eeedf0;
$colorLight: #f9aca7;
$colorDark: #cf365f;
$colorReq: #0087ff;
$colorRes: #00c395;
$colorCopy: #dde6e8;
