@import "color";
$BORDER: 1px solid $textLight;
$SHADOW: 0 0 14px 2px $textLight + 88;
$SHADOW_BOX: 0px 0 2px 0 $textLight + 88, inset 0 0 4px 2px $textLight + 88;
$WIDTH: 1366px;
$RADIUS: 10px;
$BORDER_LINK: 1px solid $colorReq;
